<div class="results-container">
    <div ng-if="!restaurantData">
       <img src="static/assets/image/loading.gif"/>
    </div>

    <div ng-if="restaurantData">
        <h1>{{ restaurantData.name }}</h1>
        <img ng-if="restaurantData.image" ng-src="{{ restaurantData.image }}"/>
        <img ng-if="!restaurantData.image" class="no-image" src="static/assets/image/not_available.png"/>
        <p ng-if="!restaurantData.image">No image available</p>
        <div class="margin-top-15">{{ restaurantData.street_address }}</div>
        <div>{{ restaurantData.city }}, {{ restaurantData.state }} {{ restaurantData.zip_code }}</div>
        <div class="margin-top-10 margin-bot-5">Phone Number: {{ restaurantData.phone_number }}</div>
        <button ng-click="getNewRestaurant()" class="blue-button">Try Again</button>
    </div>
</div>

