.padding-right-15 {
    padding-right: 15px;
}

.no-highlight-select {
    outline: none;
}

.food-finder-logo {
    width: 60%
}

.main-content-container {
    padding-top: 125px;
    text-align: center;
}

.text-center {
    text-align: center;
}

.results-container {
    text-align: center;
    width: 55%;
    margin: 0 auto;
    border: 1px solid;
    padding: 15px;
    box-shadow: 4px 4px 5px #888888
}

.no-image {
    width: 200px;
}

.error-message {
    color: red;
}

.auth-container {
    text-align: center;
    margin-top: 50px;
}

.result-table {
    width: 90%;
    margin: 0 auto;
}

.result-table-row-cell {
    width: 50%;
}

.margin-bot-5 {
    margin-bottom: 5px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-10 {
    margin-top: 10px;
}

.navbar-default {
    background-color: green;
    border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
    font-size: 20px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: white;
}

.blue-button {
    padding: 7px 10px;
    background-color: #007acc;
    color: white;
    border-radius: 10px;
    border: none;
}

.cancel-button-button {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 7px;
}

.cancel-button, .cancel-button:hover {
    padding: 9px 10px;
    color: black;
    background-color: #e7e7e7;
    text-decoration: none;
    border-radius: 10px;
}

.login-input {
    padding: 4px 3px;
    width: 250px;
}

.restaurant-image {
    max-height: 350px;
}
