{% extends 'templates/base.html' %}
{% block content %}
    <div class="auth-container">
        <h2>Login</h2>
        <form method="post" class="auth-form" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="margin-bot-5">
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="margin-bot-5">
                <input type="password" name="password" placeholder="Password">
            </div>
            <p>Don't have an account? <a href="{% url 'sign_up' %}">Create one now.</a></p>
            <input type="submit" value="Login">
            <button><a href="{% url 'index' %}" class="cancel-button">Cancel</a></button>
        </form>
        <div class="error-message">{{ message }}</div>
    </div>
{% endblock %}
